body{
    background: radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0), rgb(5, 5, 5));
}
h1{
    text-align: center;
    color: whitesmoke;
    font-family:  "Licorice", cursive;
    font-size: 55px;
}
img{
    width: 100%;
    max-height: 700px;
    opacity: .4;
    border-color: rgb(146, 12, 12);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}
#to-top-link{
    text-align: left;
}
#copyright{
    text-align: right;
    color: blanchedalmond;
    font-size: x-small;
}
#slogan{
    position: relative;
    bottom: 100px;
    text-align: center;
    font-size: 60px;
    font-family: "Luckiest Guy", cursive;
    margin: 15px; 
}
.text-gradient{
    background-image: linear-gradient(60deg, rgb(20, 233, 20), purple, gold);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .7;
}
.recipes{
    color: rgb(173, 25, 25)
}
a{
    color: white;
}