body{
    background: radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0), rgb(5, 5, 5));
}
h1{
    text-align: center;
    color: whitesmoke;
    font-family:  "Licorice", cursive;
    font-size: 55px;
}
img{
    width: 100%;
    max-height: 700px;
    opacity: .4;
}
#to-top-link{
    text-align: left;
}
#copyright{
    text-align: right;
    color: blanchedalmond;
    font-size: x-small;
}
#slogan{
    text-align: center;
    font-size: 25px;
    color: blanchedalmond;
    font-family: monospace;
    
    
}
.recipes{
    color: rgb(173, 25, 25)
}
a{
    color: white;
}